extends layout

block content

  .jumbotron
    .container
      h1 Bienvenido a #{title}
      p Utilice el menu superior para acceder a las secciones!
  h2 Resumen del Hostel:
  p Habitaciones disponibles
  p Habitaciones Ocupadas
  p Total Ingreso del dia
  p Total Ingreso del mes
  p Total Egreso del dia
  p Total Egreso del mes
