doctype html
html
  header
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.2.1.min.js")
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.css')
    script(src="/bootstrap-3.3.7-dist/js/bootstrap.js")
body
  include nav

  block main