nav.navbar.navbar-default
  .navbar-header
    a.navbar-brand(href='#') Hostel App
  |
  ul.nav.navbar-nav
    li.active
      a(href='/') Inicio
    |""
    li
      a(href='/habitaciones') Habitaciones
    |
    li
      a(href='#') Reservas
    |
    li
      a(href='#') Clientes